:root {
  --open-sans: "Open Sans", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;

  --accent-light: #fbb731;
  --accent-dark: #f37335;
  --dark: #443737;
  --light: #ffffff;
}

body {
  font-family: var(--open-sans);
}

.container {
  width: 100%;
  min-width: 1182px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 196px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo {
  display: block;
  width: 176px;
  height: 56px;
  background-image: url(../image/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  /* flex-grow: 1; ne nuzhno ono */
  /* display: flex; */
  /* word-spacing: 100px; */
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 600px;
}

.nav-link::after {
  /* content: ""; */
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark);
  text-decoration: none;
  font-size: 15px;
  font-weight: 700px;
}

.cart::before {
  content: "";
  display: block;
  width: 30px;
  height: 26px;
  background-image: url(../image/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 10px;
  color: var(--light);
  background-color: var(--accent-dark);
  border-radius: 100%;
}
